:root {
  --app-font-family: 'NanumSquareNeo', 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src:
    url('./NanumSquareNeoTTF-cBd.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
